name: Test
on:
  push:
  pull_request:
permissions:
  contents: read
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        go: ['1.23.5']
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go }}
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        args: --timeout=5m
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['1.23.5']
    name: Go ${{ matrix.go }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go }}
    - run: go get -t -v ./...
    - run: go vet ./...
    - run: go test -race -coverprofile=coverage.out -covermode=atomic -coverpkg=./... ./...
    - uses: codecov/codecov-action@v3
