name: Test
on:
  push:
  pull_request:
jobs:
  runner-job:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['1.20']
    name: Go ${{ matrix.go }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go }}
    - run: go get -t -v ./...
    - run: go vet ./...
    - run: go test -race -coverprofile=coverage.out -covermode=atomic -coverpkg=./... ./...
    - uses: codecov/codecov-action@v3
